.result {
  height: 60px;
  background-color: cornflowerblue;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 300px;
  margin: auto;
}

.button {
  display: block;
  background-color: lightgrey;
}

button {
  width: 25%;
  height: 30px;
  font-size: 15px;
}
